<h1>Hello!</h1>
<% if user_signed_in? %>
  <p>Welcome to Epsilon project!</p>
  <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "button" %>
<% else %>
    <%= link_to "Sign in", new_user_session_path, class: "button radius" %>
<% end %>

