.alert-box{
  margin-top: 1.25rem;
}
.top-bar{
  padding-left: 15px;
  padding-right: 15px;
}
.button{
  background-color: #5BB336;
}
.negative {
  color: orange;
}
.positive {
  color: green;
}
#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}