<%= form_for :transaction, url: account_transactions_path do |f| %>
  <fieldset>
    <legend>Add new transaction</legend>
    <label>Amount
      <%= f.text_field :amount, autofocus: true, placeholder: "Enter amount of transaction" %>
    </label>
    <label>Budget
      <%= f.select :budget, current_user.budgets.map{ |c| [c.title, c.id] } %>
    </label>
    <%= f.submit "Log transaction", class:"button round" %>  
  </fieldset>
<% end %>